@import "tailwindcss";
/* Hide vertical scrollbar but allow scroll */
html, body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}